node_modules
dist

# packages/contracts
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/coverage
packages/contracts/typechain-types
packages/contracts/src/types

# services
services/emporos/build
services/web/.next

# standalone
standalone/twitter-chrome-extension/vite.config.ts
standalone/twitter-chrome-extension/vite.config.content.ts
